[run]
omit =
    */tests/*
    */docs/*
branch = true
source = sss

[report]
omit =
    */tests/*
    */docs/*

show_missing = true

[paths]
source =
    src
    */site-packages"
tests =
    tests
    */tests
